# Ambiente Virtual
venv/
.venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos de segredos (NUNCA envie para o repositório!)
.env

# Arquivos de Banco de Dados SQLite
*.db
*.db-journal

mcp_workspace_demo